@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels.Cms
@model ContentDetailViewModel

@{
    ViewBag.Title = "Best Practice Content";
}

<section class="content">
    @Html.Partial("~/Views/Partials/_BestPracticeDetail.cshtml", Model)
</section>

