<div class="col-md-4">
    <h3>Useful Links</h3>
    <ul class="list-unstyled">
        <li><a href="#">STAR</a></li>
        <li><a href="#">MyHR</a></li>
        <li><a href="#">DNA</a></li>
        <li><a href="#">STAR Training Module</a></li>
        <li><a href="#">Main STAR Section</a></li>
        <li><a href="#">TalentLink</a></li>
    </ul>

</div>

