@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        @User.Identity.Name
    </li>
    <li class="dropdown">
        <a href="@Url.Action("Logoff", "Login")"><i class="glyphicon glyphicon-log-in"></i> Logout</a>
    </li>
}
else
{
    <li><a href="@Url.Action("Index", "Login", new { o = true})"><i class="glyphicon glyphicon-log-out"></i> Log In</a></li>
}
