
@{
    ViewBag.Title = "STAR Handbook";
}

<section class="content">
    <row>
        &emsp;
    </row>

    <row>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","STARHandbook")">STAR Handbook</a></li>
            <li><a href="@Url.Action("Availability","STARHandbook")">Colleague Availability</a></li>
            <li class="active">Adding an Availability Pattern</li>
        </ol>
    </row>

    <row>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>Adding an Availability Pattern</strong></h4>
            </div>
            <div class="panel-body">
                <row class="col-md-12">
                    <img src="~/Images/CMS_Uploads/AddAvailability1.png" class="col-md-6 img-responsive" />
                    <div class="col-md-6">To add an availability pattern for a colleague, you need to click on the <strong>Scheduling tab</strong> and select <strong>'UK Schedule Planner'</strong>.</div>
                </row>
                <div class="col-md-12">
                    &emsp;
                </div>
                <row class="col-md-12">
                    <img src="~/Images/CMS_Uploads/AddAvailability3.png" class="col-md-6 img-responsive" />
                    <br />
                    <div class="col-md-6">Select your store from the 'Show' hyperfind.<br />Select the required date range from the 'Time Period' hyperfind.</div>
                </row>
                <div class="col-md-12">
                    &emsp;
                </div>
                <row class="col-md-12">
                    <img src="~/Images/CMS_Uploads/AddAvailability4.png" class="col-md-6 img-responsive" />
                    <div class="col-md-6">This is your store schedule view. Click on the colleague you wish to add the pattern and click on 'Availability' tab and select 'Add Pattern'.</div>
                </row>
                <div class="col-md-12">
                    &emsp;
                </div>
                <row class="col-md-12">
                    <img src="~/Images/CMS_Uploads/AddAvailability5.png" class="col-md-6 img-responsive" />
                    <br />
                    <div class="col-md-6">Double click on the day you wish to add the pattern. Enter the time and select the availability type for that day. Then click 'Apply'.</div>
                </row>
                <div class="col-md-12">
                    &emsp;
                </div>
                <row class="col-md-12">
                    <img src="~/Images/CMS_Uploads/AddAvailability6.png" class="col-md-6 img-responsive" />
                    <br />
                    <div class="col-md-6">Review the added change and click ‘OK’.</div>
                </row>
                <div class="col-md-12">
                    &emsp;
                </div>
                <row class="col-md-12">
                    <img src="~/Images/CMS_Uploads/AddAvailability7.png" class="col-md-6 img-responsive" />
                    <br />
                    <div class="col-md-6">
                        <p>Repeat this for the rest of the days in the week. Ensure the correct Pattern & Availability start date is selected. Once applied, click ‘OK’.</p>
                        <p>The availability pattern has been added for the selected colleague.</p>
                    </div>
                </row>
                <div class="col-md-12">
                    &emsp;
                </div>
            </div>
        </div>
    </row>

    @Html.Partial("~/Views/Partials/_AvailabilityOptions.cshtml")

    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
</section>