
@{
    ViewBag.Title = "STAR Handbook";
}

<section class="content">
    <row>
        &emsp;
    </row>

    <row>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","STARHandbook")">STAR Handbook</a></li>
            <li><a href="@Url.Action("EscalationsSupport","STARHandbook")">Escalations & Support</a></li>
            <li class="active">Exceptions Report</li>
        </ol>
    </row>

    <row>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>Exceptions Report</strong></h4>
            </div>
            <div class="panel-body">
                <p>You can extract a report with all your colleagues' exceptions.</p>
                <ul>
                    <li>Select the General Tab > Reports</li>
                    <li>Set the Show and Time Period to the store and date range you want to view.</li>
                    <li>Click on the '+' by Timecard on the left hand side.</li>
                    <li>Select 'Exceptions'</li>
                    <li>Click on Set options tabs</li>
                    <li>Click on Absences and select which type of absence you want. These can be: Unexcused, Excused, Both or None</li>
                    <li>Click on Exceptions and deselect the exceptions you do not want to show</li>
                    <li>To view the report on your computer – click 'Run Report'. To Email the report – Click 'Email' and type your email address, then click ok</li>
                </ul>
                <hr />
                <row class="col-md-12">
                    <img src="~/Images/CMS_Uploads/ExceptionsReport1.png" class="col-md-12" />
                    <br />
                </row>
            </div>
        </div>
    </row>

    @Html.Partial("~/Views/Partials/_EscalationsSupportOptions.cshtml")

    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
</section>