
@{
    ViewBag.Title = "STAR Handbook";
}

<section class="content">
    <row>
        &emsp;
    </row>

    <row>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","STARHandbook")">STAR Handbook</a></li>
            <li class="active">Managing Timecards</li>
        </ol>
    </row>

    @Html.Partial("~/Views/Partials/_ManagingTimecardsOptions.cshtml")

    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
</section>