
@{
    ViewBag.Title = "STAR Handbook";
}

<section class="content">

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <img src="" class="imagepreview" style="width: 100%" />
                </div>
            </div>
        </div>
    </div>

    <row>
        &emsp;
    </row>

    <row>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","STARHandbook")">STAR Handbook</a></li>
            <li><a href="@Url.Action("Scheduling","STARHandbook")">Scheduling</a></li>
            <li class="active">Viewing a Schedule</li>
        </ol>
    </row>

    <row>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>Viewing a Schedule</strong></h4>
            </div>
            <div class="panel-body">
                <p>
                    To view a schedule, you need to click on the <strong>Scheduling tab</strong> and select <strong>'UK Schedule Editor':</strong>
                    <br /><br />
                    <a href="#" class="pop">
                        <img src="~/Images/CMS_Uploads/ScheduleMenu1.png" class="img-responsive" alt="ScheduleMenu1" />
                    </a>
                </p>
                <br />
                <p>
                    Select your store from the 'Show' hyperfind:
                    <br /><br />
                    <a href="#" class="pop">
                        <img src="~/Images/CMS_Uploads/ScheduleMenu2.png" class="img-responsive" alt="ScheduleMenu2" />
                    </a>
                </p>
                <br />
                <p>
                    Select the required data range from the 'Time Period' hyperfind:
                    <br /><br />
                    <a href="#" class="pop">
                        <img src="~/Images/CMS_Uploads/ScheduleMenu3.png" class="img-responsive" alt="ScheduleMenu3" />
                    </a>
                </p>
                <hr />
                <p>
                    This will be your schedule view before any shifts are added:
                    <br /><br />
                    <a href="#" class="pop">
                        <img src="~/Images/CMS_Uploads/ScheduleMenu4.png" class="img-responsive" alt="ScheduleMenu4" />
                    </a>
                </p>
            </div>
        </div>
    </row>

    @Html.Partial("~/Views/Partials/_ScheduleOptions.cshtml")

    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
</section>

@section myScripts{
    <script>
        $(function() {
        $('.pop').on('click', function() {
        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
        $('#imagemodal').modal('show');
        });
        });
    </script>
}