<div class="panel-group" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>More on Colleague Availability...</strong></h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                    <a href="@Url.Action("Availability","STARHandbook", new { articleNumber = 1 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Adding a Pattern</a>
                    <span class="col-md-1 col-lg-1"></span>
                    <a href="@Url.Action("Availability","STARHandbook", new { articleNumber = 2 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Ammending a Pattern</a>
                    <span class="col-md-1 col-lg-1"></span>
                    <a href="@Url.Action("Availability","STARHandbook", new { articleNumber = 3 })" class="btn btn-primary col-lg-3 col-md-5" style="margin-bottom:15px" role="button">Deleting a Pattern</a>
                    <span class="col-md-1 col-lg-1"></span>
                    <a href="@Url.Action("Availability","STARHandbook", new { articleNumber = 4 })" class="btn btn-primary col-lg-3 col-md-5 col-lg-offset-4" style="margin-bottom:15px" role="button">Deleting a Fixed Shift Pattern</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
    </div>
</div>
