<div class="panel-group" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>More on Timecard Sign Off...</strong></h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <row>
                    <a href="@Url.Action("TimecardSignOff","STARHandbook", new { articleNumber = 1 })" class="btn btn-primary col-md-3" role="button">Signing Off</a>
                    <span class="col-md-1"></span>
                </row>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
    </div>
</div>
