USE [CarphoneWfm]
GO
/****** Object:  Table [dbo].[StoreRegion]    Script Date: 23/09/2016 12:44:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreRegion](
	[StoreRegionId] [int] IDENTITY(1,1) NOT NULL,
	[RegionNo] [int] NOT NULL,
	[RegionalManagerFullName] [nvarchar](500) NULL,
	[RegionalManagerEmail] [nvarchar](500) NULL,
	[RegionName] [nvarchar](250) NULL,
	[DateCreated] [datetime] NULL CONSTRAINT [DF_StoreRegion_DateCreated]  DEFAULT (getdate()),
	[DateModified] [datetime] NULL CONSTRAINT [DF_StoreRegion_DateModified]  DEFAULT (getdate()),
 CONSTRAINT [PK_StoreRegion_1] PRIMARY KEY CLUSTERED 
(
	[RegionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[StoreRegion] ON 

GO
INSERT [dbo].[StoreRegion] ([StoreRegionId], [RegionNo], [RegionalManagerFullName], [RegionalManagerEmail], [RegionName], [DateCreated], [DateModified]) VALUES (1, 101, N'Melanie Firth', N'FirthM@cpwplc.com', NULL, CAST(N'2016-09-21 17:37:21.473' AS DateTime), CAST(N'2016-09-21 17:37:21.473' AS DateTime))
GO
INSERT [dbo].[StoreRegion] ([StoreRegionId], [RegionNo], [RegionalManagerFullName], [RegionalManagerEmail], [RegionName], [DateCreated], [DateModified]) VALUES (2, 102, N'Keyur Patel', N'PatelK36@cpwplc.com', NULL, CAST(N'2016-09-21 17:37:21.473' AS DateTime), CAST(N'2016-09-21 17:37:21.473' AS DateTime))
GO
INSERT [dbo].[StoreRegion] ([StoreRegionId], [RegionNo], [RegionalManagerFullName], [RegionalManagerEmail], [RegionName], [DateCreated], [DateModified]) VALUES (3, 103, N'Peter Clout-Hart', N'Peter.Clout-Hart@dixonscarphone.com', NULL, CAST(N'2016-09-21 17:37:21.473' AS DateTime), CAST(N'2016-09-21 17:37:21.473' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[StoreRegion] OFF
GO


CREATE TABLE [dbo].[Store](
	[StoreId] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](500) NOT NULL,
	[CST_CNTR_ID] [int] NOT NULL,
	[RegionNo] [int] NULL,
	[Address1] [nvarchar](50) NULL,
	[Address2] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Town] [nvarchar](50) NULL,
	[PostCode] [nvarchar](10) NULL,
	[Tel] [nvarchar](50) NULL,
	[StoreEmail] [nvarchar](500) NULL,
	[IpRange] [nvarchar](150) NULL,
	[DateCreated] [datetime] NULL CONSTRAINT [DF_Store_DateCreated]  DEFAULT (getdate()),
	[DateModified] [datetime] NULL CONSTRAINT [DF_Store_DateModified]  DEFAULT (getdate()),
	[KronosStoreName] [nvarchar](250) NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Store] ON 

GO
INSERT [dbo].[Store] ([StoreId], [StoreName], [CST_CNTR_ID], [RegionNo], [Address1], [Address2], [City], [Town], [PostCode], [Tel], [StoreEmail], [IpRange], [DateCreated], [DateModified], [KronosStoreName]) VALUES (2, N'Marylebone Rd (146)', 2, 101, N'Test1', N'Test2', N'London', N'London', N'TT1 1TT', N'0843 538 0002', NULL, NULL, CAST(N'2016-09-19 14:10:59.143' AS DateTime), CAST(N'2016-09-19 14:10:59.143' AS DateTime), N'UK 0002 Marylebone Rd')
GO
INSERT [dbo].[Store] ([StoreId], [StoreName], [CST_CNTR_ID], [RegionNo], [Address1], [Address2], [City], [Town], [PostCode], [Tel], [StoreEmail], [IpRange], [DateCreated], [DateModified], [KronosStoreName]) VALUES (3, N'Moorgate', 4, 101, N'Test1', N'Test2', N'London', N'London', N'TT1 1TT', N'0843 538 0004', NULL, NULL, CAST(N'2016-09-19 14:10:59.143' AS DateTime), CAST(N'2016-09-19 14:10:59.143' AS DateTime), N'UK 0004 Moorgate')
GO
INSERT [dbo].[Store] ([StoreId], [StoreName], [CST_CNTR_ID], [RegionNo], [Address1], [Address2], [City], [Town], [PostCode], [Tel], [StoreEmail], [IpRange], [DateCreated], [DateModified], [KronosStoreName]) VALUES (4, N'Kings Rd (359)', 8, 104, N'Test1', N'Test2', N'London', N'London', N'TT1 1TT', N'0843 538 0008', NULL, NULL, CAST(N'2016-09-19 14:10:59.143' AS DateTime), CAST(N'2016-09-19 14:10:59.143' AS DateTime), N'UK 0008 Kings Rd 359')
GO
SET IDENTITY_INSERT [dbo].[Store] OFF
GO
/****** Object:  Index [StoreNumber]    Script Date: 23/09/2016 12:45:31 ******/
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [StoreNumber] UNIQUE NONCLUSTERED 
(
	[CST_CNTR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Store__A9CE5E39794731E5]    Script Date: 23/09/2016 12:45:31 ******/
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [UQ__Store__A9CE5E39794731E5] UNIQUE NONCLUSTERED 
(
	[CST_CNTR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD  CONSTRAINT [FK_Store_Store] FOREIGN KEY([RegionNo])
REFERENCES [dbo].[StoreRegion] ([RegionNo])
GO
ALTER TABLE [dbo].[Store] CHECK CONSTRAINT [FK_Store_Store]
GO

