@model DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels.ChangeStoreOpeningTimeViewModel

@{
    ViewBag.Title = "Change Store Opening Times";
}

<h2>Change Store Opening Times</h2>


<div class="row">
    @Html.Partial("~/Views/Partials/_ChangeStoreOpeningTimes.cshtml", Model)
</div>

