@model DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels.PeopleViewModel

@{
    ViewBag.Title = "People";
}

<h2>People</h2>
<section class="content">
    @Html.Partial("~/Views/Partials/_Staff.cshtml")
    </section>
