<div class="row">
    <div class="col-md-6">
        <span>Weekly FootFall</span>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box-body">
            <div class="chart">
                <canvas id="weeklyFootFallareaChart" style="height:250px"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <span>Daily FootFall</span>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box-body">
            <div class="chart">
                <canvas id="dailyFootFallAreaChart" style="height:250px"></canvas>
            </div>
        </div>
        </div>
    </div>





