
@{
    Layout = null;
}

<!doctype html>
<head>
    <link href="~/Content/New/bootstrap.min.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" type="image/png" href="~/Images/ADC95AB0513840DAADA5E205ED39351B.png" />
    <title>Workforce Management</title>
</head>

<div class="modal show" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">
                    Submission Received!
                </h3>
            </div>
            <div class="modal-body">
                <p>
                    Thank you for your submission. Please allow up to 24 hours for this to be processed before attempting to access the WFM homepage.
                </p>
                <p>
                    If you are still unable to access the site please escalate to <strong><u>Irlkronos@cpwplc.com</u></strong>
                </p>
            </div>
        </div>
    </div>
</div>