<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--add name="DxCpWfmContext" connectionString="metadata=res://*/Entities.DxCpWfmModel.csdl|res://*/Entities.DxCpWfmModel.ssdl|res://*/Entities.DxCpWfmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JB-PC;initial catalog=CarphoneWfm;persist security info=True;user id=carphone_web;password=Qwerty!23;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <add name="DxCpWfmContext" connectionString="metadata=res://*/Entities.DxCpWfmModel.csdl|res://*/Entities.DxCpWfmModel.ssdl|res://*/Entities.DxCpWfmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gbnvpwapp70.cpwplc.com;initial catalog=CarphoneWfm;persist security info=True;user id=carphone_web;password=Qwerty!23;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DxCpReportingModel" connectionString="metadata=res://*/Entities.DxCpReportingModel.csdl|res://*/Entities.DxCpReportingModel.ssdl|res://*/Entities.DxCpReportingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gbnvpwapp70.cpwplc.com;initial catalog=02001_SOHData;persist security info=True;user id=carphone_web;password=Qwerty!23;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>