@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@model PunchCompVM

@{
    ViewBag.Title = "Clocking Compliance";
}
<section class="content">
    <div class="row">
        &nbsp;
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("~/Views/Shared/_Messages.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <strong>Clocking Compliance</strong>
                </div>
                <div class="panel-body">
                    <p>This report measures the compliance of the colleague’s physical clocks.  If a colleague forgets to clock in for their shift it will trigger on this report as a missed clock, even if the clock has since been manually added to the timecard. The clock compliance shows the percentage of expected clock that were present.</p>
                    <p><strong>Clocks are compared against what was submitted on the colleague's timecard; however, we're not checking if the time is exactly the same as what was submitted, only that they have clocked in and out when they start and finish work.</strong></p>
                </div>
            </div>
        </div>
    </div>
    
    @Html.Partial("~/Views/Partials/_PunchComp.cshtml", Model)

</section>
@section myScripts {
    <script>
        function dateChanged(ev) {
            if ($('#SelectedDate').val() != '') {
                $('#complianceDateForm').submit();
            }
        }

        $(function () {
            var br = true;
            var $brBtn = $('#br');
            var $bmBtn = $('#bm');
            var $brView = $('#branchSummary');
            var $bmView = $('#bmSummary');

            $brBtn.click(function () {
                if (!br) {
                    $(this).toggleClass('active');
                    $bmBtn.toggleClass('active');
                    $brView.slideToggle(400);
                    $bmView.slideToggle(400);
                    br = !br;
                };
            });

            $bmBtn.click(function () {
                if (br) {
                    $(this).toggleClass('active');
                    $brBtn.toggleClass('active');
                    $bmView.slideToggle(400);
                    $brView.slideToggle(400);
                    br = !br;
                };
            });
        });
    </script>
}