@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@model ComplianceViewModel

@{
    ViewBag.Title = "Compliance";
}
<section class="content">
    <div class="row">
        &nbsp;
    </div>

   NEW VERSION HERE

</section>
@section myScripts {
    <script>
        function dateChanged(ev) {
            if ($('#SelectedDate').val() != '') {
                $('#complianceDateForm').submit();
            } 
        }
    </script>
}

