@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@model MyTeamViewModel

@{
    ViewBag.Title = "My Team";
}

<div class="row">
    <div class="col-lg-12">
        @Html.Partial("~/Views/Shared/_Messages.cshtml", Model)
    </div>
</div>
<section class="content">
    <div class="row">
        &nbsp;
    </div>

    @Html.Partial("~/Views/Partials/_PageBlurb.cshtml", Model)

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <strong>My Team</strong>
                </div>
                <div class="panel-body">
                    <p>These are the details of your team currently held by the HR system.</p>
                    <p>If you believe any of these details are incorrect please raise with your TPC who can help get these rectified.</p>
                </div>
            </div>
        </div>
    </div>

    @if ((bool)HttpContext.Current.Session["_ROIFlag"])
    {
        <div class="alert alert-warning text-center"><strong>Coming soon!</strong></div>
    }

    @if (Model.MyTeam != null && Model.MyTeam.Count() > 0)
    {
        <div class="row">
            @Html.Partial("~/Views/Partials/_MyTeamSimple.cshtml", Model)
        </div>
    }
</section>