@using DixonsCarphone.WorkforceManagement.ViewModels.BusinessModels
@model StorePandLViewModel

@{
    ViewBag.Title = "Store P & L";
}

<section class="content">
    <div class="row">
        &nbsp;
    </div>
     
    <div class="alert alert-info">
        <strong><u>Cash/Banking Loss:</u></strong><br />We have decided to temporarily remove the cash and banking loss lines from the controllable costs on the P&L<br />
        This is due to cross period losses and gains which mostly self-balance but have a huge impact on each individual months P&L<br />
        We will be relooking at how best to present actual cash loss and will update soon.
    </div>

    @Html.Partial("~/Views/Partials/_PageBlurb.cshtml", Model)

    @Html.Partial("~/Views/Partials/_StorePandL.cshtml", Model)
</section>

@section myScripts{
    <script>
        $(document).ready(function () {

            $('[data-toggle="popover"]').popover();

        });
    </script>
}
