@model DixonsCarphone.WorkforceManagement.Web.Controllers.ErrorViewModel

@{
    ViewBag.Title = "Unauthorised";
}

<div class="row">
    &emsp;
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger text-center" style="">
                @Model.ErrorMessage
                <div class="text-center" id="aHelp" style="margin-top:15px;"><div class="btn btn-default btn-sm">I think I should have access</div></div>
                <div style="display:none;margin-top:15px;" class="well" id="Help">
                    <h5><strong><u>Branch Manager, Assistant Manager</u></strong></h5>
                    <p>Access rights are managed by GIS. If you get this error message, you are not currently in the correct group and should raise a ticket with IT services to be added to either <i>‘BranchManager-RETAIL-CPW-UK’</i> or <i>‘AssistantBranchManager-RETAIL-CPW-UK’</i>. This is the only way to gain access; it is not managed on a user by user basis.</p>
                    <hr />
                    <h5><strong><u>RM, DD, TPC</u></strong></h5>
                    <p>Please contact <u>STAR@cpwplc.com</u> who will assist you with getting the correct access</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section myScripts{
<script>
    $(function () {
        $('#aHelp').click(function () {
            $('#Help').slideToggle(350);
        });
    })
</script>    
}